* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

h1 {
  color: white;
  display: flex;
  flex-shrink: 0;
  margin-right: 12px;
}

ul {
  list-style: none;
  display: flex;
  gap: 12px;
  flex-shrink: 0;
  flex-wrap: wrap;
}

li {
  display: flex;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

img {
  width: 400px;
}

.header,
.hero {
  background-color: #1f2937;
}

.header {
  margin: 0;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero {
  padding: 24px 12px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.hero-content {
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.hero-content p {
  color: #e5e7eb;
}

.hero-link {
  background-color: #3882f6;
  padding: 6px 18px;
  border-radius: 8px;
}
