* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #1f2937;
}

.header-width-wrapper,
.hero-width-wrapper,
.CTA-width-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.cards-section-width-wrapper,
.testimonial-width-wrapper,
.CTA-content {
  width: 1000px;
  margin: 0 auto;
}

h1 {
  color: white;
  display: flex;
  flex-shrink: 0;
  margin-right: 12px;
}

ul {
  list-style: none;
  display: flex;
  gap: 12px;
  flex-shrink: 0;
  flex-wrap: wrap;
}

li {
  display: flex;
  flex-shrink: 0;
}

.header-width-wrapper {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero-width-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  padding: 56px 0px;
}

.hero-text {
  color: white;
  font-size: 48px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.hero-image img {
  width: 600px;
  height: 360px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.hero-content p {
  color: #e5e7eb;
}

.hero-link,
.CTA-link {
  background-color: #3882f6;
  padding: 8px 36px;
  border-radius: 8px;
}

.cards-section-width-wrapper {
  display: flex;
  flex-direction: column;
  gap: 44px;
  background-color: white;
  padding: 52px 0px 104px;
}

.cards-section {
  background-color: white;
}

.cards-section-heading h2 {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.card {
  max-width: 180px;
}

.icon-image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 12px;
}

.icon-text {
  color: #1f2937;
  text-align: center;
}

.testimonial {
  height: 400px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial-quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.testimonial-author {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: end;
}

.CTA {
  background-color: white;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CTA-width-wrapper {
  background-color: #3882f6;
  border-radius: 15px;
}

.CTA-content {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CTA-text {
  color: white;
}

.CTA-link {
  border: 2px solid white;
}

.hero-link:hover,
.CTA-link:hover {
  background-color: white;
  color: #3882f6;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 0;
}

.footer-copy {
  color: white;
}
