* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #1f2937;
}

.header-width-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  color: white;
  display: flex;
  flex-shrink: 0;
  margin-right: 12px;
}

.hero-text {
  color: white;
  font-size: 48px;
}

ul {
  list-style: none;
  display: flex;
  gap: 12px;
  flex-shrink: 0;
  flex-wrap: wrap;
}

li {
  display: flex;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.hero-image img {
  width: 600px;
  height: 360px;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  padding: 56px 0px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.hero-content p {
  color: #e5e7eb;
}

.hero-link {
  background-color: #3882f6;
  padding: 8px 36px;
  border-radius: 8px;
}

.cards-section {
  display: flex;
  flex-direction: column;
  gap: 44px;
  background-color: white;
  padding: 52px 0px 104px;
}

.cards-section-heading h2 {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 0 48px;
}

.card {
  max-width: 180px;
}

.icon-image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 12px;
}

.icon-text {
  color: #1f2937;
  text-align: center;
}

.testimonial {
  height: 400px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 44px;
}

.testimonial-quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.testimonial-author {
  font-size: 22px;
  font-weight: bold;
  margin-left: auto;
}
